<a href="https://colab.research.google.com/github/sanjaytallolli/IntellipaatDataScienceWorks/blob/master/Getting_started_with_Kaggle_and_Colab_(Production_level_coding)2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#https://towardsdatascience.com/setting-up-kaggle-in-google-colab-ebb281b61463

In [0]:
# Production level codin article must read
# https://towardsdatascience.com/complete-data-science-project-template-with-mlflow-for-non-dummies-d082165559eb

In [16]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [17]:
import os
os.getcwd()

'/content'

In [18]:
!ls

sample_data

In [19]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

In [21]:
!ls *

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [0]:
import json
token = {"username":"sanjaytallolli","key":"a8492132d35c1072b2d6e3c5bb91f95a"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [24]:
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [35]:
!kaggle --version

Kaggle API 1.5.4

In [48]:
!kaggle datasets list -s *

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                               title                                 size  lastUpdated          downloadCount
------------------------------------------------  ------------------------------------  ----  -------------------  -------------
shivaprasad275/sample-data                        sample_data                            6MB  2019-10-23 02:36:44              1
redhood1905/sample-data                           sample_data                           305B  2018-10-06 13:58:15              8
sabinhashmi/ashrae-energy-prediction-sample-data  Ashrae Energy Prediction Sample Data  61MB  2019-12-19 16:26:27              0

In [46]:
!kaggle datasets list -s sentiment

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                    title                                          size  lastUpdated          downloadCount
-----------------------------------------------------  --------------------------------------------  -----  -------------------  -------------
crowdflower/twitter-airline-sentiment                  Twitter US Airline Sentiment                    3MB  2019-10-16 00:04:05          34442
harriken/emoji-sentiment                               Emoji sentiment                                12MB  2017-10-01 09:56:54           2252
bittlingmayer/amazonreviews                            Amazon Reviews for Sentiment Analysis         493MB  2019-11-18 02:50:34          20375
kazanova/sentiment140                                  Sentiment140 dataset with 1.6 million tweets   81MB  2017-09-13 22:43:19          22705
crowdflower/first-gop-debate-twitter-sentiment         First GOP Debate Twitter Sentiment              2MB  2019-11-17 21:18:37          15299
arkhoshghalb/twitter-sentiment-analysis-hatred-speech  Twitter Sentiment Analysis                      2MB  2019-01-06 05:00:19           1941
marklvl/sentiment-labelled-sentences-data-set          Sentiment Labelled Sentences Data Set         326KB  2018-04-24 21:20:20           3872
cjroth/chronist                                        Emotion, Aging, and Sentiment Over Time        13MB  2017-02-12 22:44:03           1253
welkin10/airline-sentiment                             Airline sentiment                               1MB  2018-05-27 07:23:18            513
taniaj/australian-election-2019-tweets                 Australian Election 2019 Tweets                29MB  2019-05-21 09:41:38           3556
rtatman/sentiment-lexicons-for-81-languages            Sentiment Lexicons for 81 Languages             2MB  2017-09-13 19:59:05           5354
thomasseleck/emoji-sentiment-data                      Emoji sentiment data                           33KB  2019-03-01 22:41:15            331
mksaad/arabic-sentiment-twitter-corpus                 Arabic Sentiment Twitter Corpus                 2MB  2019-04-13 18:07:18            600
sonaam1234/sentimentdata                               Sentiment Analysis Dataset                    947KB  2019-11-18 02:41:47           2050
yelp-dataset/yelp-dataset                              Yelp Dataset                                    4GB  2019-02-05 19:09:56          47626
sid321axn/amazon-alexa-reviews                         Amazon Alexa Reviews                          164KB  2018-07-31 17:45:14           6850
rahulin05/sentiment-labelled-sentences-data-set        Sentiment Labelled Sentences Data Set          80KB  2017-08-31 14:07:09           1087
oumaimahourrane/imdb-reviews                           IMDB movie reviews for Sentiment Analysis      10MB  2018-07-31 18:56:07           1550
rtatman/thai-sentiment-analysis-toolkit                Thai Sentiment Analysis Toolkit                 8KB  2017-09-06 20:32:55            543
rtatman/german-sentiment-analysis-toolkit              German Sentiment Analysis Toolkit              84KB  2017-08-15 22:54:27            778

Downloading the Data
Go to Kaggle, find the dataset you want, and on that page, click the API button (it will copy the code automatically).

You’ll paste that code into your next cell, but make sure you add that exclamation point to the beginning of the cell and add -p /contentto clarify your path.

In [50]:
!kaggle competitions download -c titanic -p /content

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 25.1MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 4.73MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 58.6MB/s]

In [51]:
!ls

gender_submission.csv  sample_data  test.csv  train.csv

In [52]:
import pandas as pd
d = pd.read_csv('train.csv')
d.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]